@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
.mini-text {
  font-size: 11px;
  color: rgb(189, 189, 189);
}
.mini-text:hover {
  color: white;
}
.flexitems {
  display: flex;
  align-items: center;
}
.mobile-hide {
  display: none;
}
.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.icon-small {
  font-size: 1.7em;
  color: rgb(165, 167, 170);
  cursor: pointer;
}
.icon-small:hover {
  color: white;
}
.buy-btn {
  width: 60px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: white;
  border: 2px solid white;
  background: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
}
.lmore-btn {
  width: 110px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: black;
  background: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.buy-btn:hover {
  color: black;
  background: white;
  border: none;
}
body {
  font-size: 11px;
  width: 100%;
  height: 100%;
}
/* Header */
header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background: black;
  z-index: 100;
}
header .wrapper {
  width: 97%;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(207, 204, 204);
}

header .navbar li a {
  text-wrap: nowrap;
  color: rgb(189, 189, 189);
}
header .navbar li a:hover {
  color: white;
}
header .cart-search {
  gap: 26px;
}

/* mega */
.mega {
  position: absolute;
  padding: 3em 2em;
  color: white;
  left: 0;
  right: 0;
  background: black;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s ease-out;
  z-index: 999;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 38px;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  transform: translateY(0);
}
.navbar li:hover .mega {
  transform: scaleY(1);
}
.mega .row {
  margin-right: 1em;
}
.mega .row h1 {
  font-size: 2em;
  margin: 12px 0px;
  cursor: pointer;
}
.mega .row h4 {
  font-size: 1.1em;
  margin: 12px 0px;
  cursor: pointer;
}
/* cart-search mega */
.cart-search .mega {
  height: 100vh;
}
.cart-search.search-active :nth-child(1) .mega {
  transform: translateY(-8%);
}
.cart-search.cart-active :nth-child(2) .mega {
  transform: translateY(-8%);
}
.search-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}
.search-box i {
  cursor: pointer;
  color: rgb(189, 189, 189);
  font-size: 1.5em;
}
.search-box span,
input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  font-size: 1.7em;
  background: none;
}
input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z'%3E%3C/path%3E%3C/svg%3E");
  border-radius: 50%;
}
input[type="search"]::-webkit-search-cancel-button:hover {
  background-color: rgb(189, 189, 189);
}
.cart-search .row h4 {
  padding: 4px 7px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.cart-search .row h4:hover {
  color: white;
  background: rgb(43, 42, 42);
}
.cart-search .row h4 i {
  color: rgb(139, 138, 138);
  font-size: 16px;
  margin-right: 8px;
}
.cart-search .row h4:hover i {
  color: white;
}
.cart-search .row h3 {
  font-size: 1.6em;
  margin-bottom: 20px;
}
.cart-search .row .mini-text {
  margin-top: 20px;
}
.cart-search .row .mini-text a {
  font-size: 13px;
  margin-right: 4px;
  text-decoration: underline;
  color: blue;
}
.icon-close,
.mega-back-icon {
  position: relative;
  z-index: 1000;
}
.icon-close i,
.mega-back-icon i {
  font-size: 1.5em;
}
/* mobile header */
.mobile-header {
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 5em 1em 0 2.5em;
  line-height: 1.6;
  background-color: black;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transform: translateY(-200%);
  transition: transform 0.3s ease-out;
}
.mobile-header.active {
  transform: translateY(0%);
}
.mobile-header .mega {
  padding: 5em 0 0 2em;
  top: 0;
}
.mobile-header .mega .wrapper {
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 5em;
}
.mega::-webkit-scrollbar {
  display: none;
}
.mobile-header li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.mobile-header .has-child.expand .mega {
  transform: translateY(0%);
}
.mobile-header .has-child > a:first-child {
  font-size: 2em;
  color: white;
  font-weight: 800;
}
.mobile-header li a {
  color: white;
  font-weight: 800;
}

.mobile-header li span {
  transition: transform 0.3s;
  transform: scale(0);
}
.mobile-header li span i {
  font-size: 1.6em;
}
.mobile-header li:hover span {
  transform: scale(1);
}
/* products  */
.products .item {
  position: relative;
  margin-bottom: 6px;
}
.products .item video {
  width: 100%;
  height: 450px;
}
.single-products .item:not(:first-child) img,
.two-products .item img {
  width: 100%;
  height: 600px;
}

.products .item .media {
  position: relative;
}
.products .item .content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 2;
  bottom: 8%;
  text-align: center;
}
.single-products :not(:nth-child(1)) .content {
  top: 8%;
}
.two-products .item .content {
  top: 4%;
}
.products .item .content .Iname {
  color: wheat;
  font-size: 2em;
  font-weight: 600;
}
.products .item .content .title {
  color: wheat;
  font-size: 1.4em;
  line-height: 1.2;
}
.products .item .content .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 6px;
}
.products .color-black .content .Iname,
.products .color-black .content .title {
  color: black;
}
.products .color-black .content .buy-btn {
  color: rgb(0, 113, 227);
  background: none;
  border: 2px solid rgb(0, 113, 227);
}
.products .color-black .content .buy-btn:hover {
  color: white;
  background: rgb(0, 113, 227);
}
.products .color-black .content .lmore-btn {
  color: white;
  background: rgb(0, 113, 227);
}

.two-products {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 6px;
}
.two-products .item {
  width: calc(100% - 10px);
  margin-left: 10px;
}
.two-products .item img {
  width: 100%;
  height: 400px;
}
/* first slider */
.first-slider {
  margin-bottom: 2em;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative; /* Added for positioning pagination */
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
}

.slides img {
  width: calc(100% / 2); /* Initially, show three images */
  height: 400px;
  flex: 0 0 auto;
  padding: 0 3px;
}

.pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .bullet {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.pagination .bullet.active {
  background-color: black;
}
/* second infinite slider */
.slider-container {
  height: 134px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 2em;
}
.slide-track {
  display: flex;
  width: calc(238px * 12);
  animation: scroll 20s linear infinite;
}
.slide-track:hover {
  animation-play-state: paused;
}
.slide-track .slide {
  width: 238px;
  height: 134px;
  display: flex;
  align-items: center;
  padding: 7px;
}
.slide-track .slide img {
  width: 100%;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-238px * 6));
  }
}

/* footer */
footer {
  background: rgb(245, 245, 247);
  padding: 20px 40px;
}
footer .text {
  line-height: 2;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 2px solid darkcyan;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-bottom: 2px solid darkcyan;
}
footer .row {
  width: 100%;
  line-height: 1.8;
  margin-bottom: 20px;
}
.footer h4 {
  font-size: 14px;
  color: black;
  margin: 10px 0;
}
.footer .row li a {
  cursor: pointer;
  color: black;
}
.footer .row li:hover {
  text-decoration: underline;
}
.copyright-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright-info a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 420px) {
  footer .row {
    width: 50%;
  }
}
@media screen and (min-width: 600px) {
  footer .row {
    width: 33.3333%;
  }
}
@media screen and (min-width: 730px) {
  .products .item video {
    width: 100%;
    height: 650px;
  }
  .products .item .content {
    bottom: 7%;
  }
  .buy-btn {
    width: 80px;
    height: 40px;
    font-size: 18px;
  }
  .lmore-btn {
    width: 130px;
    height: 40px;
    font-size: 18px;
  }
  .single-products .item .content .Iname {
    font-weight: 800;
    font-size: 2.5em;
  }
  .single-products .item .content .title {
    font-size: 2.3em;
  }
  /* two procduts */
  .two-products .item {
    width: calc(50% - 10px);
    margin-left: 10px;
  }
  .two-products .item .content .Iname {
    font-size: 1.5em;
  }
  .two-products .item .content .title {
    font-size: 1.3em;
  }
  .slides img {
    width: calc(100% / 3); /* Initially, show three images */
    height: 600px;
    padding: 0 5px;
  }
}

@media screen and (min-width: 835px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 24px;
  }
  .icon-small {
    font-size: 1.4em;
  }
  .mobile-hide {
    display: block;
  }
  .desktop-hide {
    display: none;
  }
  header .wrapper {
    justify-content: center;
  }
  .mega .wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  /* cart-search mega */
  .cart-search .mega {
    height: auto;
  }
  .cart-search.search-active :nth-child(1) .mega {
    transform: translateY(0%);
  }
  .cart-search.cart-active :nth-child(2) .mega {
    transform: translateY(0%);
  }
}

/* Additional All Media Queries for Header Gap */
@media screen and (min-width: 840px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 23px;
  }
}
@media screen and (min-width: 850px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 24px;
  }
  footer .row {
    width: 25%;
  }
}
@media screen and (min-width: 860px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 21px;
  }
}
@media screen and (min-width: 870px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 22px;
  }
}
@media screen and (min-width: 880px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 23px;
  }
}
@media screen and (min-width: 890px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 24px;
  }
}
@media screen and (min-width: 900px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 25px;
  }
}
@media screen and (min-width: 910px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 26px;
  }
}
@media screen and (min-width: 920px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 27px;
  }
}
@media screen and (min-width: 930px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 28px;
  }
}
@media screen and (min-width: 940px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 29px;
  }
}
@media screen and (min-width: 950px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 30px;
  }
}
@media screen and (min-width: 960px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 31px;
  }
}
@media screen and (min-width: 970px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 32px;
  }
}
@media screen and (min-width: 980px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 33px;
  }
}
@media screen and (min-width: 990px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 34px;
  }
}
@media screen and (min-width: 1010px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 35px;
  }
}
@media screen and (min-width: 1030px) {
  header .wrapper,
  header .navbar,
  header .cart-search {
    gap: 36px;
  }
  footer {
    padding: 40px 80px;
  }
}
@media screen and (min-width: 1116px) {
  .mega {
    padding: 3em 14em;
  }
}
